body {
    background: grey;
};

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/logo.png");
    background-size: cover;
    height: 250px;
    width: 250px;
    margin: 0 auto;
}

.center {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.inputField {
    border: 1px solid black;;
}